.trainee-list {
  display: flex;
  margin-left: 16px;
  align-items: center;
}

.trainee button {
  background-color: transparent;
  color: black;
  /*// TODO feedback:没有用dashed样式*/
  border: 1px dashed;
}
